/world/
/world.zip
/world.7z

/backups/
/gitignore/

/minecraft/?/
/minecraft/.cache/
/minecraft/.fabric/
/minecraft/.mixin.out/
/minecraft/libraries/
/minecraft/logs/
/minecraft/world/
/minecraft/modernfix/
/minecraft/stackdeobf_mappings/
/minecraft/versions/
/minecraft/fabric-server-*.jar
/minecraft/usercache.json
/minecraft/config/spark/tmp/
/minecraft/mods/